# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
* List popular languages for Data Science
* List of libraries commonly used in data science
* Examples of arithmetic operations with Python

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Scala
4. Java

Some of the commonly used libraries used by Data Scientists include:

1. Matplotlib
2. Pandas
3. NumPy
4. Scikit-learn

|Data Science Tools|
|------------------|
|Python|
|Jupyter|
|Apache Spark|

Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Gian Marchisio